@import "../../colors.scss";

.challangesCard_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Creates 3 equal-width columns
  gap: 20px;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // Ensure the container takes the full width of its parent
  .card {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white-background-color;
    text-align: center;
    transition: transform 0.2s;
    .cardTop{
      
      height: 40%;
      width: 100%;
      overflow: hidden;
      
      .banner {
        object-fit: cover;
        width: 100%;
      height: 100%;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .cardBottom{
      padding: 2rem;
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      gap: 0.4rem;
      height: 60%;
      width: 100%;
      .card-status {
        display: inline-block;
        padding: 3px 20px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        color: $black-color;
        &.upcoming {
          background-color: rgba($yellow-color, 0.4);
          
        }
    
        &.ended {
          background-color: rgba($red-color, 0.4);
        }
        &.active {
          background-color: rgba($green-color, 0.4);
          color: $green-color;
        }
      }
      
  
      .card-title {
        font-size: 18px;
        margin: 20px 0 10px;
        font-weight: bold;
        
        padding:0  20px;
      }
  
      .card-timer {
        font-size: 18px;
        color: #4b4b4b;
        margin-bottom: 20px;
        font-weight: 600;
        span{
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    
  }
}

@media(max-width: 600px){
  .challangesCard_container {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}