$main-background-color:#003145;
$blue-card-background:#002A3B;
$white-background-color:#FFFFFF;
$gray-card-color:#F8F9FD;


$black-color: #000000;
$green-color:#44924C;
$yellow-color:#FFCE5C;
$red-color:#DC1414;

$chip-background-color:#F8F9FD;
